<div class="container mt-3 p-5" style="width:500px">
  <h2>Edit my service</h2>
  <%= simple_form_for(@service) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description_menu %>
    <%= f.input :price %>
    <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>

<%# <h1><%= @service.name %></h1>
<%# <p><%= @service.description_menu %></p>
<%# <p>Price: <%= @service.price %></p>
<%#= link_to 'Edit', user_service_path(@service.user, @service) %> |
<%#= link_to 'Back', services_path %>

<%# <h2>Reviews</h2> %>
<%# <ul> %>
  <%# @service.reviews.each do |review| %>
    <%# <li> %>
      <%# <strong>Rating:</strong> <%= review.rating %><br>
      <%# <strong>Comment:</strong> <%= review.comment %><br>
      <%#= link_to 'Edit', edit_service_review_path(@service, review) %>
      <%#= link_to 'Destroy', service_review_path(@service, review), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# </li> %>
  <%# end %>
<%# </ul> %>
<%#= link_to 'New Review', new_service_review_path(@service) %>
