<div class="container mt-3 p-5" style="width:500px">
  <h2>Edit my service</h2>
  <%= simple_form_for(@service) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description_menu %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
