<header>
  <div class="brand">
    <h1>My Food Cuisine Airbnb</h1>
    <p>Welcome to a world of culinary delights!</p>
  </div>

  <div class="search-bar">
    <div class="col-sm-8 my-3">
      <%= form_with url: services_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a keyword" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
       <%end %>
    </div>

  </div>
</header>

<div class="container-lg">
  <% @services.each_slice(3) do |services_row| %>
    <div class="row my-3">
      <% services_row.each do |service| %>
        <div class="col col-4">
          <div class="square">
            <%= link_to service_path(service) do %>
              <% service.images.each_with_index do |image, index| %>
                <div class="image" style="background-image: url(<%= url_for(image) %>);<%= index > 0 ? ' display: none;' : '' %>"></div>
              <% end %>
              <div class="text"><%= service.name %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
<<<<<<< HEAD
  <% end %>
</div>
=======
  </div>
<% else %>
  <p class="text-align-center mt-5"> You do not have service yet. </p>
<% end%>
>>>>>>> master
