<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div>
    <h1><strong><%= @service.name %></strong></h1>
    <p><strong>Description:</strong> <%= @service.description_menu %></p>
    <p><strong>Address:</strong> <%= @service.address %></p>
    <p><strong>Price:</strong> $<%= @service.price %></p>
    <%= link_to 'Book This Service', service_bookings_path(@service), class: 'btn btn-primary' %>
    <%= link_to 'Add Review', new_service_review_path(@service), class: 'btn btn-primary' %>
    <% if @reviews.any?%>
     <h2></h2> <% @reviews.each do |review| %>
  <div class="review">
  <p><strong>Rating:</strong> <%= review.rating %></p>
  <p><strong>Comment:</strong> <%= review.comment %></p>
</div>
<% end %>
    <% else %>
    <p><strong>No reviews yet</strong></p>
    <% end %>
    <%#= render 'reviews/reviews', reviews: @reviews %>
</div>
