<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div>
    <h1><%= @service.name %></h1>
    <p><%= @service.description_menu %></p>
    <p><strong>Address:</strong> <%= @service.address %></p>
    <p><strong>Price:</strong> $<%= @service.price %></p>
    <h2>Reviews</h2>
    <%# <%= render 'reviews/reviews', reviews: @reviews %> %>
  </div>
</div>
