<div class="container mt-3 p-5" style="width:500px">
  <h2>Book a chef</h2>
  <%= simple_form_for([@service, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :service_id, as: :hidden, input_html: { value: @service.id } %>
    <%= f.submit %>
  <% end %>
</div>
