<h1>Reviews for <%= @user.name %></h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %><br>
      <strong>Comment:</strong> <%= review.comment %><br>
      <%= link_to 'Show', review_path(review) %> |
      <%= link_to 'Edit', edit_review_path(review) %> |
      <%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
