<div class="container-lg">
  <h3 class="text-start mt-5">Leave your review!</h3>

  <%= simple_form_for [@booking, @review] do |form| %>
    <%= form.error_notification %>

    <div class="form-inputs">
      <%= form.input :rating, label: "Rating", collection: 1..5, include_blank: false %>
      <%= form.input :comment, as: :text, label: "Comment" %>
    </div>

    <div class="form-actions">
      <%= form.button :submit, "Submit Review", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

