<!DOCTYPE html>
<html>
  <head>
    <title>CleverFitAirbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo on the left -->
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'https://cdn5.vectorstock.com/i/1000x1000/22/08/chef-logo-template-vector-30172208.jpg', alt: 'Chef Airbnb Logo', width: 50, height: 50 %>
      <% end %>
      <!-- "Chef Airbnb" text in the middle -->
      <div class="navbar-text mx-auto">
        <h1 class="green-small-text">Chef Airbnb</h1>
      </div>
      <!-- Upload picture or sign-in/sign-out button on the right -->
      <div class="navbar-right">
        <% if user_signed_in? %>
          <% if session[:chef_mode] %>
          <%= link_to 'Profile', chef_user_path(current_user.id), class: 'btn btn-secondary rounded-btn' %>
          <% else %>
          <%= link_to 'Profile', user_path(current_user.id), class: 'btn btn-secondary rounded-btn' %>
          <% end %>
          <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="footer">
    <div class="text-center p-3">
      © 2024 Chef Airbnb
    </div>
  </footer>
  </body>
</html>
